<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1 配置connectionFactory -->
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://localhost:61616"/>
                <property name="trustedPackages" value="com.ehome.spring.jms.entity"/>
                <!-- 是否异步发送 -->
                <property name="useAsyncSend" value="true"/>
            </bean>
        </property>
    </bean>
    <!-- 2 Spring提供的JMS工具类，它可以进行消息发送、接收等 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="receiveTimeout" value="60000"/>
    </bean>

    <!-- 3.1 这个是目的地sessionAwareQueue-->
    <bean id="sessionAwareQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="sessionAwareQueue"/>
    </bean>
    <!-- 3.2 这个是广播topicDestination-->
    <bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic"/>

    <!-- 4.1 SessionAware消息监听容器 -->
    <bean id="sessionAwareListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="sessionAwareQueue"/>
        <property name="messageListener">
            <bean class="com.ehome.spring.jms.listener.ConsumerSessionAwareMessageListener"/>
        </property>
    </bean>

</beans>