<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring_MVC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_MVC" />
        </element>
      </element>
    </root>
  </artifact>
</component>